layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab {
      pane split_direction="vertical" {
          pane
          pane
          pane split_direction="horizontal" {
              pane size="30%"
              pane size="70%"
          }
      }
    }
}
