[user]
  name = {{ vars.git_name | json_encode }}
  email = {{ vars.git_email | json_encode }}

[alias]
  co = checkout
  build = push -f origin HEAD:build/yse0217
  merge-diff = !sh -c 'git diff "$1^1"..."$1^2" "$@"' -

[color]
  diff = auto
  status = auto
  branch = auto

[core]
  excludesfile = ~/.gitignore
  autocrlf = input

[apply]
  whitespace = nowarn

[format]
  pretty = %C(yellow)%h%Creset%C(green)%d%Creset %s %C(red)[%an]%Creset %C(cyan)[%cr]%Creset

[rerere]
  enabled = true

[push]
  default = tracking

[branch]
  autosetuprebase = always

[mergetool "ediff"]
  cmd = emacsclient --eval \"(git-mergetool-emacsclient-ediff \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" \\\"$MERGED\\\")\"
  trustExitCode = true

[mergetool]
  prompt = false

[merge]
  tool = ediff

[init]
  templatedir = ~/.git-hooks
