keybinds {
    shared_except "resize" "locked" {
      bind "" { MoveFocus "Up"; } // Cmd-Shift-i
      bind "" { MoveFocus "Left"; } // Cmd-Shift-j
      bind "" { MoveFocus "Down"; } // Cmd-Shift-k
      bind "" { MoveFocus "Right"; }  // Cmd-Shift-l
      bind "" { ToggleFocusFullscreen; }  // Cmd-Shift-Enter
      bind "" { ToggleFloatingPanes; }  // Cmd-2
      bind "" { Clear; }  // Cmd-p
      bind "" { ToggleFocusFullscreen; }  // Cmd-1
    }
}

default_shell "fish"
theme "catppuccin-frappe"
default_layout "development"
scrollback_editor "/Applications/Emacs.app/Contents/MacOS/bin/emacsclient"
