keybinds {
    shared_except "resize" "locked" {
      bind "Shift F1" { MoveFocus "Up"; } // Cmd-Shift-i
      bind "Shift F2" { MoveFocus "Left"; } // Cmd-Shift-j
      bind "Shift F3" { MoveFocus "Down"; } // Cmd-Shift-k
      bind "Shift F4" { MoveFocus "Right"; }  // Cmd-Shift-l
      bind "" { ToggleFocusFullscreen; }  // Cmd-Shift-Enter
      bind "Shift F6" { ToggleFloatingPanes; }  // Cmd-2
      bind "" { Clear; }  // Cmd-p
      bind "Shift F5" { ToggleFocusFullscreen; }  // Cmd-1
    }
}

default_shell "fish"
theme "catppuccin-frappe"
default_layout "development"
scrollback_editor "/Applications/Emacs.app/Contents/MacOS/bin/emacsclient"
